.col1{
    padding: 1rem;
    background-color: lightgray;
    border: 2px solid #fff;
    color: black;
    text-align: left;
    font-size: 25px;
}
.col2{
    padding: 1rem;
    background-color: lightgray;
    border: 2px solid #fff;
    color: black;
    text-align: center;
    font-size: 25px;
}
.col3{
    padding: 1rem;
    background-color: lightgray;
    border: 2px solid #fff;
    color: black;
    text-align: center;
    font-size: 25px;
    height: 20px
} 