@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@370&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Source Serif 4', sans-serif;
}
body{
    background: linear-gradient(to right, #6BBED4, #3994BE); 
}
.resume{
    width: 800px;
    background: white;
    margin: 25px auto;
    display: flex;
}
.left{
    background: rgb(85, 84, 84);
    width: 250px;
    padding: 0 20px;
}
.right{
    width: calc(100% - 250px);
}
.profile_img{
    text-align: center;
    padding: 20px 0px ;
}
.profile_img img{
    width: 150px;
    border-radius: 20px;
}
.pb{
    padding-bottom: 20px;
}
.title{
    font-size: 24px;
    font-weight: 750;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: right;
    letter-spacing: 5px;
    position: relative;
    color: yellowgreen;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}
.icon1{
    font-size: 15px;
    color: #EA4335;
}
.icon2{
    font-size: 20px;
    color: #0a66c2;
}
.icon3{
    font-size: 20px;
    color: #171515 ;
}
.icon4{
    font-size: 20px;
    color: black;
}
.icon5{
    font-size: 20px;
    color: orangered;
}
.icon6{
    font-size: 20px;
    color: blue;
}
.icon7{
    font-size: 20px;
    color: #fc3c44;
}
.icon8{
    font-size: 20px;
    color: greenyellow;
}
.icon9{
    font-size: 20px;
    color: black;
}
.text{
    color: yellowgreen;
    text-transform: uppercase;
    font-size: 14px;
}
.text a:link{
    color: yellowgreen;
    text-decoration: none;
}
.li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.li_wrap .icon1{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon2{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon3{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon4{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon5{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon6{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon7{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon8{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .icon9{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
}
.skills ul, .hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills .li_wrap, .hobbies .li_wrap{
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.header{
    background: rgb(85, 84, 84);
    padding: 15px 30px;
    color: white;
    height: 190px;
}
.header .name{
    font-size: 50px;
    font-weight: 750;
    text-transform: uppercase;
    color: yellowgreen;
}
.header .role{
    font-weight: 500;
    font-size: 20px;
}
.header .about{
    margin-top: 10px;
    line-height: 20px;
}
.edu{
    margin-top: 6px;
}
.right_inner .li_wrap{
    display: flex;
    margin-bottom: 15px;
}
.right_inner .li_wrap .date{
    width: 125px;
    margin-bottom: 25px;
    color: yellowgreen;
}
.right_inner .li_wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}
.right_inner .title1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 750;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    margin-bottom: 15px;
    color: yellowgreen;
}
.right_inner .li_wrap .info_title1{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: yellowgreen;
}
.right_inner .li_wrap .info_com{
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
}
.right_inner .li_wrap .info:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: yellowgreen;
    border-radius: 50%;
}
.right_inner .li_wrap .info:after{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: yellowgreen;
    border-radius: 50%;
}
.right_inner .title2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 750;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    margin-bottom: 15px;
    color: yellowgreen;
}
.right_inner .li1_wrap{
    display: flex;
    margin-bottom: 15px;
}
.right_inner .li1_wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}
.right_inner .li1_wrap .info_title2{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: yellowgreen;
}
.right_inner .li1_wrap .info:before{
    text-align: center;
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: yellowgreen;
    border-radius: 50%;
}
.text1 a:hover{
    background-color: black;
    border-radius: 8px;
}
.text1 a:link{
    text-decoration: none;
    text-align: center;
    
}
.right_inner .title3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 750;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    margin-bottom: 15px;
    color: yellowgreen;
}
.social-menu ul{
    position: absolute;
    top: 110%;
    left: 56%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-menu ul li{
    list-style: none;
    margin-left: 60px;
}
.social-menu ul li .fa{
    font-size: 25px;
    line-height: 40px;
    color: #000;
}
.social-menu ul li .fa:hover{
    color: #fff;
}
.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    transition: 0.1s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover{
    transform: translate(0, -5px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #d34836;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #1877F2;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #555555;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #1DA1F2;
}