li {
    list-style-type: none;
    font-size: 16pt;
  }
  .mail {
    margin: auto;
    padding-top: 225px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 400px;
    background: #fff;
    border: 1px soild black;
  }
  .mail h2 {
    margin-left: 38px;
    text-align: center;
  }
  .rq{
      padding-left: 50px;
  }
  input {
    font-size: 15pt;
    margin-left: 50px;
  }
  input:focus,
  textarea:focus {
    background-color: white;
  }
  input submit {
    font-size: 10pt;
    margin-left: 1rem;
  }
  .rq {
    color: #1900ff;
    font-size: 10pt;
  }
  